html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font: {
    family: Cabin;
    size: 62.5%;
    weight: 400;
  }
}

* {
  box-sizing: inherit;
}

.row {
  @include responsible(mobile) {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
}