$black--color: #000;
$cyan-bluish-gray--color: #abb8c3;
$white--color: #fff;
$vivid-red--color: #cf2e2e;
$pale-pink--color: #f78da7;
$vivid-orange--color: #ff6900;
$vivid-amber--color: #fcb900;
$light-green-cyan--color: #7bdcb5;
$vivid-green-cyan--color: #00d084;
$pale-cyan-blue--color: #8ed1fc;
$vivid-cyan-blue--color: #0693e3;
$vivid-purple--color: #9b51e0;

$header-contact--height: 4.8rem;
$header-primary--height: 8rem;


$gray--color: #808285;