<div class="author">
  <div class="author-body">
    <ul class="author-body-panel">
      <li class="author-body-panel-item active">Login</li>
      <li class="author-body-panel-item">Register</li>
    </ul>
    <div class="author-body-container">
      <div class="author-body-login">
        <h3 class="author-body-login-title">Realistic Asia</h3>

        <form action="_post" class="author-body-form-login">
          <div class="author-body-form-login-user">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="author-login-username" id="author-login-user"
              class="author-body-form-login-user-input" placeholder="Username">
          </div>
          <div class="author-body-form-login-password">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="author-login-password" id="author-login-password"
              class="author-body-form-login-user-input" placeholder="Password">
          </div>
          <div class="author-body-form-login-check">
            <div class="author-body-form-login-remember">
              <input type="checkbox" name="author-body-form-login-remember-checkbox"
                id="author-body-form-login-remember-checkbox">
              <label class="author-body-form-login-remember-label"
                for="author-body-form-login-remember-checkbox">Remember me</label>
            </div>
            <div class="author-body-form-login-forgot">
              <a href="#" class="author-body-form-login-forgot-link">Forgot Password?</a>
            </div>
          </div>
        </form>

        <a href="#" class="btn-primary--color">login</a>
      </div>
      <div class="author-body-register">
        <h3 class="author-body-login-title">Realistic Asia</h3>
        <form action="_post" class="author-body-form-register">
          <div class="author-body-form-register-input">
            <i class="fa-solid fa-user"></i>
            <input type="text" required class="author-body-form-register-input-user"
              id="author-body-form-register-input-user" name="author-body-form-register-input-user"
              placeholder="Username">
          </div>
          <div class="author-body-form-register-input">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" required class="author-body-form-register-input-email"
              id="author-body-form-register-input-email" name="author-body-form-register-input-email"
              placeholder="Email">
          </div>
          <div class="author-body-form-register-input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" required class="author-body-form-register-input-password"
              id="author-body-form-register-input-password" name="author-body-form-register-input-password"
              placeholder="Password">
          </div>
          <div class="author-body-form-register-input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" required class="author-body-form-register-input-repeat-password"
              placeholder="Repeat Password" id="author-body-form-register-input-repeat-password"
              name="author-body-form-register-input-repeat-password">
          </div>
        </form>
        <a href="#" class="btn-primary--color">register</a>
      </div>
    </div>
  </div>
</div>
