<div class="fixed">
  <div class="fixed-language">
    <ul class="fixed-language-list">
      <li class="fixed-language-item">
        <a href="#" title="English" class="fixed-language-item-link">
          <img src="./assets/img/flags/united-states.png" alt=""></a>
      </li>
      <li class="fixed-language-item">
        <a href="#" title="Spanish" class="fixed-language-item-link">
          <img src="./assets/img/flags/spain.png" alt=""></a>
      </li>
      <li class="fixed-language-item">
        <a href="#" title="Portuguese" class="fixed-language-item-link">
          <img src="./assets/img/flags/portugal.png" alt=""></a>
      </li>
      <li class="fixed-language-item">
        <a href="#" title="Italian" class="fixed-language-item-link">
          <img src="./assets/img/flags/italy.png" alt=""></a>
      </li>
      <li class="fixed-language-item">
        <a href="#" title="German" class="fixed-language-item-link">
          <img src="./assets/img/flags/germany.png" alt=""></a>
      </li>
      <li class="fixed-language-item">
        <a href="#" title="French" class="fixed-language-item-link">
          <img src="./assets/img/flags/france.png" alt=""></a>
      </li>
    </ul>
    <span class="fixed-language-title">Language</span>
  </div>
  <div class="fixed-contact">

    <div class="fixed-contact-wrap">
      <i class="fixed-contact-wrap-icon-chat fa-solid fa-comment-dots"></i>
      <div class='fixed-contact-wrap-close'>
        <i class="fixed-contact-wrap-icon-close fi fi-rr-cross-small"></i>

        <p class="fixed-contact-wrap-text">Hide</p>
      </div>


      <div class="fixed-contact-wrap-back">
        <a href="#" class="fixed-contact-wrap-back-item fixed-contact-wrap-back-item-whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
          <p class="fixed-contact-wrap-back-text">whatsapp</p>
        </a>
        <a href="tel:" class="fixed-contact-wrap-back-item fixed-contact-wrap-back-item-phone">
          <i class="fa-solid fa-phone"></i>
          <p class="fixed-contact-wrap-back-text">Phone</p>
        </a>
      </div>
    </div>
  </div>
  <div class="fixed-chat">
    <div class="fixed-chat-label">
      <p class="fixed-chat-label-text">Online</p>
    </div>
    <div class="fixed-chat-content">
      <div class="fixed-chat-content-head">
        <div class="fixed-chat-content-head-close">
          <i class="fi fi-rr-cross-small"></i>
        </div>
        <div class="fixed-chat-content-head-description">
          <p>
            We are online and ready to help you create a wonderful trip to Vietnam & Indochina.
          </p>
        </div>
        <div class="fixed-chat-content-head-search">
          <div class="fixed-chat-content-head-search-wrap-input">
            <input type="text" placeholder="Search for answers" class="fixed-chat-content-search-input">
          </div>
          <div class="fixed-chat-content-head-search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p></p>
          </div>
        </div>
      </div>
      <div class="fixed-chat-content-body">
        <div class="fixed-chat-content-body-new">
          <button class="fixed-chat-content-body-new-btn">
            <i class="fa-solid fa-paper-plane"></i>
            <span>
              New Conversation
            </span>
        </div>
      </div>
      <div class="fixed-chat-content-footer">
        <a href="#">
          <img src="https://embed.tawk.to/_s/v4/assets/images/Tawky_16x16.svg" alt="">
          Add free <Strong>live chat</Strong> to your site
        </a>
      </div>
    </div>
  </div>
</div>
