<div class="header-contact">
  <div class="grid wide">
    <div class="row">
      <div class="col l-12 m-12 s-12">
        <div class="header-container-contact">
          <div class="header-container-contact-left">
            <p class="header-container-contact__text">follow us: &nbsp;&nbsp;</p>
            <div class="header-container__icon">
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon ti-instagram"></i>
              </a>
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon ti-facebook"></i>
              </a>
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon ti-twitter"></i>
              </a>
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon ti-linkedin"></i>
              </a>
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon ti-pinterest"></i>
              </a>
              <a href="#" class="header-contact__link">
                <i class="header-contact__icon fi fi-brands-youtube"></i>
              </a>

            </div>
            <div class="header-container-contact__call">
              <i class="header-contact__icon fa-solid fa-phone"></i>
              <a href="tel:+1 800 956-6340">USA/CANADA TOLL-FREE NUMBER: +1 (800) 956-6340</a>
            </div>
          </div>
          <div class="header-container-contact-right">
            <a href="#" class="btn-has-border-primary--color">tailor-made tours</a>
            <a href="#" class="register-btn">login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>