@keyframes for-button-border-bottom-after-primary--color {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes for-button-border-bottom-before-primary--color {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes for-label-text-slide {
  0% {
    opacity: 0;
    transform: translate(50px, -35px) scale(.8);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes for-label-img-slide {
  0% {
    opacity: 0;
    transform: translate(0px, 25px) scale(.8);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}