.btn-has-border-primary--color {
  text-decoration: none;
  text-transform: uppercase;
  color: $white--color;
  line-height: 2rem;
  border: 1px solid $vivid-amber--color;
  padding: 1rem 2rem;
  letter-spacing: .2rem;
  font-size: 1.2rem;
  transition: all 0.5s;
  @extend %font;


  &:hover {
    cursor: pointer;
    background-color: $vivid-amber--color;
  }
}

.btn-primary--color {
  background-color: $vivid-amber--color;
  text-decoration: none;
  text-transform: uppercase;
  height: 50%;
  color: $white--color;
  line-height: 2.2rem;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;

  font: {
    size: 1.4rem;
    family: "Montserrat";
    weight: 600;
  }

  &:hover {
    background-color: $black--color;
  }

}


.register-btn {
  text-decoration: none;
  color: $white--color;
  text-transform: uppercase;
  font-size: 1rem;
  @extend %font;
  margin-left: 3rem;
}

%font {
  font: {
    weight: 700;
    family: "Montserrat"
  }
}