.btn-has-border-primary--color {
  text-decoration: none;
  text-transform: uppercase;
  color: $white--color;
  line-height: 2rem;
  border: 1px solid $vivid-amber--color;
  padding: 1rem 2rem;
  letter-spacing: .2rem;
  font-size: 1.2rem;
  transition: all 0.5s;
  @extend %font;


  &:hover {
    cursor: pointer;
    background-color: $vivid-amber--color;
  }
}

.btn-primary--color {
  background-color: $vivid-amber--color;
  text-decoration: none;
  text-transform: uppercase;
  height: 50%;
  color: $white--color;
  line-height: 2.2rem;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;

  font: {
    size: 1.4rem;
    family: "Montserrat";
    weight: 600;
  }

  &:hover {
    background-color: $black--color;
  }

}


.register-btn {
  text-decoration: none;
  color: $white--color;
  text-transform: uppercase;
  font-size: 1rem;
  @extend %font;
  margin-left: 3rem;
}

%font {
  font: {
    weight: 700;
    family: "Montserrat"
  }
}

.btn-border-bottom-primary--color {
  font: {
    size: 1.4rem;
    family: "Montserrat";
    weight: 500;
  }

  color: $vivid-amber--color;
  line-height: 1.8rem;
  position: relative;
  text-decoration: none;
  word-spacing: .2rem;
  display: inline-block;
  padding: 1rem 0;
  overflow: hidden;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    height: .25rem;
    bottom: 3px;
    left: 0;
    width: 100%;
    background-color: $vivid-amber--color;
  }

  &::before {
    content: "";
    position: absolute;
    height: .25rem;
    bottom: 3px;
    left: 0;
    width: 0;
    background-color: $vivid-amber--color;
  }

  &:hover::after {
    animation: for-button-border-bottom-after-primary--color .5s;
  }

  &:hover::before {
    animation: for-button-border-bottom-before-primary--color .2s .3s;
  }
}