@mixin layout-kristi-cabin {
  padding-top: 10.8rem;
  text-align: center;

  @include responsible(mobile) {
    padding: 0 16px;
  }
}



// extra large
// @if $device =="desktop" {
//   @media (min-width: 1379px) {
//     @content;
//   }
// }