.author {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &-body {
    background-color: #1C1C1C;
    border-radius: 4px;
    overflow: hidden;

    &-container {
      position: relative;
      width: 310px;

      .btn-primary--color {
        margin: 16px 0;
      }
    }

    &-panel {
      list-style: none;
      padding-left: 0;
      width: 100%;
      margin: 0;
      display: flex;

      &-item {
        display: inline-block;
        width: 50%;
        font-size: 2rem;
        padding: 24px;
        color: $white--color;
        background-color: #242424;
        text-align: center;

        &.active {
          background-color: #1C1C1C;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    %input {
      width: 100%;
      background-color: $white--color;
      margin: 6px 0;
      padding: 8px;
      display: flex;
      align-items: center;
      border-radius: 4px;

      i {
        font: {
          size: 2rem;
        }

        color: $vivid-amber--color;
        padding: 0 8px;
      }

      input {
        border: none;
        outline: none;
        font-size: 1.8rem;

      }
    }

    &-login {
      padding: 16px;
      // transform: translateX(150%);
      // transition: all .2s;
      // display: none;

      &-title {
        font: {
          size: 4rem;
          family: Kristi;
          weight: 400;
        }

        margin: 0 0 32px 0;
        color: $vivid-amber--color;
        text-align: center;
      }
    }

    &-login {
      padding: 16px;
      // transform: translateX(150%);
      // transition: all .2s;
      // display: none;

      &-title {
        font: {
          size: 4rem;
          family: Kristi;
          weight: 400;
        }

        margin: 0 0 32px 0;
        color: $vivid-amber--color;
        text-align: center;
      }
    }

    &-register {
      padding: 16px;
      display: none
    }


    &-form {

      &-login {
        // opacity: 0;
        // visibility: hidden;
        // position: absolute;

        &-password,
        &-user {
          @extend %input;
        }

        &-check {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px 0 8px;
        }

        &-remember {
          display: flex;
          align-items: center;

          &-label {
            margin-left: 8px;
            color: $gray--color;
            font-size: 1.6rem;
          }
        }

        &-forgot {
          margin-left: 32px;

          &-link {
            text-decoration: none;
            color: $vivid-amber--color;
            font-size: 1.6rem;
          }
        }
      }

      &-register {


        &-input {
          @extend %input;
        }

      }
    }
  }
}