header {
  z-index: 9999 !important;

  .header {
    z-index: 9999;

    &-contact {
      background-color: #1C1C1C;
      transition: all .2s;

      // @include responsible(large) {
      //   display: none;
      // }

      &__link {
        text-decoration: none;
        margin: 0 .8rem 0 .1rem;

        &:last-child {
          margin-right: 5rem;
        }

        &:hover {
          cursor: pointer;
        }

      }

      &__icon {
        font-size: 1.6rem;
        color: $white--color;

        &:hover {
          color: $vivid-amber--color;
        }
      }

    }

    &-container {
      &-contact {
        height: $header-contact--height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(0);
        transition: all 3s;
        z-index: 1;

        @include responsible("tablet") {
          display: none;
        }

        &__text {
          font: {
            size: 1rem;
            weight: 700;
            family: 'Montserrat';
          }

          text-transform: uppercase;
          color: $white--color;
        }

        &-left {
          display: flex;

        }

        &__call {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            @extend .header-container-contact__text;
            padding: 0 0 0 1.3rem;
          }

          &:hover {

            i,
            a {
              color: $vivid-amber--color;
              transition: all .6s;
            }
          }
        }
      }

      &__icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    &-nav-container {
      height: $header-primary--height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 9;
    }

    &-navigation {
      height: 100%;

      @include responsible('tablet') {
        display: none;
      }

      &-list {
        list-style: none;
        margin: 0;
        height: 100%;
        padding-left: 0;
      }

      &-item {
        display: inline-block;
        color: currentColor;
        height: 100%;
        padding: 0 1.9rem;
        position: relative;

        @include responsible("pc low") {
          padding: 0 .6rem;
        }

        &.active {
          color: $vivid-amber--color;
        }

        a {
          text-decoration: none;
          color: inherit;
          display: inline-block;
          height: 100%;
          position: relative;
          text-transform: uppercase;

          &:hover {
            color: $vivid-amber--color;
            cursor: pointer;

            .header-navigation-sub {
              height: auto;
              opacity: 1;
              visibility: visible;
              overflow: visible;
            }
          }

          font: {
            family: Unica One;
            weight: bold;
            size: 1.5rem;
          }

          .header-navigation-span {
            display: flex;
            align-items: center;
            height: 100%;

            span {
              letter-spacing: .3rem
            }
          }
        }

        &:hover {
          .header-navigation-sub {
            height: 14rem;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &-sub {
        position: absolute;
        list-style: none;
        min-width: 20rem;
        left: -.5rem;
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        background-color: $black--color;
        color: $white--color;
        transition: all .5s;
        padding-left: 0;
        z-index: 1;

        &-item {
          &:first-child {
            margin-top: 2.3rem;
          }

          &:last-child {
            margin-bottom: 2.3rem;
          }

          a {
            font: {
              size: 1.4rem;
              family: Cabin;
            }

            text-transform: capitalize;
            padding: 1rem 0 1rem 3rem;
            display: block;
          }
        }
      }
    }

    &-logo {
      @include responsible(tablet) {
        flex: 1;
        text-align: center;
      }

      a {
        text-decoration: none;
        display: inline-block;

        img {
          height: 3rem;
        }
      }
    }

    &-nav {
      position: fixed;
      top: $header-contact--height;
      left: 0;
      right: 0;
      z-index: 1;
      background: rgba($color: #000, $alpha: 0);
      transition: all .5s;
      color: $white--color;
      z-index: 99;

      @include responsible(tablet) {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background: rgb(255, 255, 255);
        transform: translateY(0px);
        color: rgb(0, 0, 0);
      }
    }


    &-mobile {
      &-menu {
        display: none;
        margin-left: 2.6rem;

        @include responsible(tablet) {
          display: block;
        }

        i {
          font-size: 2rem;
        }

        &-icon {
          &.active {
            &~.header-mobile-menu-list {
              visibility: inherit;
              height: 35vh;
              opacity: 1;

              @include responsible(tablet) {
                height: 40vh;
              }

            }

            i {
              color: $vivid-amber--color;
            }
          }
        }

        &-list {
          list-style: none;
          position: absolute;
          top: 0;
          margin-top: $header-primary--height;
          left: 0;
          right: 0;
          background-color: $white--color;
          padding-left: 1.6rem;
          visibility: hidden;
          transition: all .3s;
          height: 0vh;
          overflow: hidden;
          overflow-y: auto;
          opacity: 0;


          box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
        }

        &-item {
          font-size: 1.5rem;
          color: #1C1C1C;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 1.2rem;
          position: relative;
          text-transform: capitalize;

          @include responsible(tablet) {
            font-size: 1.8rem;
          }

          @include responsible(mobile) {
            font-size: 1.5rem;
          }

          &:last-child {
            border-bottom: none;
          }

          a {
            text-decoration: none;
            color: inherit;
            display: flex;
            justify-content: space-between;

            &:hover {
              color: $vivid-amber--color;
              cursor: pointer;
            }
          }

          i {
            font-size: 1rem;
          }

          &.active {
            .header-mobile-sub-menu {
              visibility: visible;
              display: block;
            }
          }
        }
      }

      &-sub-menu {
        list-style: none;
        visibility: hidden;
        padding: .6rem 0;
        display: none;

        &-item {
          padding: 1.2rem 1.2rem 1.2rem .8rem;
          border-bottom: 1px solid rgba(0, 0, 0, .1);

          &:last-child {
            border-bottom: none;
            padding: 1.2rem 1.2rem 0 .8rem;
          }
        }
      }
    }
  }
}