.main {

  .home {
    &-slide {
      position: relative;
      margin-top: -$header-primary--height;
      width: 100%;

      &-img {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .active {
          visibility: visible !important;
          opacity: 1;
          overflow: initial;
          width: 100%;
          height: 100%;
        }
      }

      &-my-img {
        margin-top: -16px;
        width: 0%;
        height: 0%;
        object-fit: cover;
        transition: opacity .4s, visibility .4s, animation .4s;
        animation: fade .4s;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
      }



      &-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        &-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      &-center {
        &-content {
          user-select: none;
          text-align: center;
          transform: translateY(-50%);
          position: relative;

          &__p {
            font-size: 2rem;
            color: $vivid-amber--color;
          }

          &-label {
            position: absolute;
            left: 17%;
            top: -20%;


            &-text {
              font-size: 6rem;
              font-family: kristi;
              color: $vivid-amber--color;
              animation: for-label-text-slide .3s cubic-bezier(.27, .79, .58, .47);
              transition: animation .3s;
            }

            img {
              animation: for-label-img-slide .3s cubic-bezier(.27, .79, .58, .47);
              transition: animation .3s;
            }
          }
        }
      }

      &-navigation {

        &-left,
        &-right {
          font-size: 2.4rem;
          color: $white--color;
          padding: 1rem;

          &:hover {
            cursor: pointer;
          }
        }
      }

      %base {
        width: 25%;
        height: 50%;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;

        %icon {
          font-size: 1.8rem;
          color: $vivid-amber--color;
          margin: 0 1rem;
        }

        %input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          font-size: 1.6rem;
          line-height: 3rem;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-find-tour {
        position: absolute;
        bottom: 10%;
        left: 10%;
        right: 10%;
        display: flex;
        height: 10.8rem;
        background-color: $white--color;
        justify-content: center;
        align-items: center;
      }


      &-option {
        &-search {
          @extend %base;

          i {
            @extend %icon;
          }

          &__input {
            @extend %input;
          }
        }

        &-select {
          @extend %base;

          i {
            @extend %icon;
          }

          select {
            @extend %input;
          }
        }
      }
    }

    &-media {
      background: url('../img/h1-background-3.png') top / cover no-repeat;
      padding: 10rem 0 10rem;

      &-content-left {
        position: relative;
        padding: 0 1.2rem;

        img {
          filter: brightness(.9);
          width: 100%;
          min-height: 48rem;
        }

        &-text {
          position: absolute;
          bottom: 2rem;
          left: 2rem;
          padding-left: 2rem;

          .h3-heading--kristi {}

          p {
            font: {
              size: 3rem;
              weight: bold;
              family: "Playfair Display";
            }

            color: $white--color;
          }

          a {
            text-decoration: none;
            font-size: 8rem;
            color: $vivid-amber--color;

            &:hover {

              cursor: pointer;

              i {
                transform: scale(1.1);
                transition: all .2s;
              }
            }
          }
        }

      }

      &-content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-right: 2rem;

        &-heading {
          font-size: 3.2rem;
          font-family: 'Playfair Display';
        }

        &-description {
          font-size: 2rem;
          margin-top: 2.5rem;
          color: $light-green-cyan--color;
        }
      }
    }

    &-different {
      background: url("../img/Angkor-home-1-scaled.jpg") center center / cover no-repeat;
      padding: 12rem 0;

      &-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &-content {
        max-width: 94.7rem;
        display: block;
        text-align: center;
      }

      &-title {
        font: {
          size: 4.5rem;
          family: "Playfair Display";
        }

        margin: 0;
        color: $white--color;
      }

      &-description {
        font: {
          size: 2rem;
        }

        margin-top: 2.5rem;
        color: $white--color;
      }
    }

    &-destination {
      @include layout-kristi-cabin;
      background: url(../img/h1-background-2.jpg);


      &-container {
        display: block;
        text-align: left;
        margin-top: 6.5rem;
      }

      &-item {
        position: relative;
        overflow: hidden;

        &-link {
          display: block;
          width: 42.2rem;
          height: 42.2rem;
          overflow: hidden;

          margin-bottom: 2.5rem;

          &:first-child {
            width: 100%;
            max-width: 86rem;
          }
        }

        &-img {
          height: 42.2rem;
          max-width: 42.2rem;
          object-fit: cover;
          transition: all .3s;
          overflow: hidden;
          user-select: none;

          &:first-child {
            width: 100%;
            max-width: 86rem;
          }
        }

        &:hover {
          .home-destination-item-img {
            transform: scale(1.1);
          }
        }

      }
    }

    &-experience {
      @include layout-kristi-cabin;
      padding-bottom: 2rem;

      &-title {
        text-align: center;
      }

      &-content {
        margin-top: 6rem;

        img {
          max-width: 23.6rem;
          height: 23.6rem;
          object-fit: cover;
        }
      }
    }

    &-responsible {
      position: relative;
      display: flex;
      background-color: #1C1C1C;

      &-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(30%);
        z-index: -1;
        background: url(../img/h1-img-4.jpg) top / cover no-repeat;
        transition: all .3s;
      }

      &-content {

        &-left {
          padding: 13rem 0;
          position: relative;
          background: transparent;
          z-index: 0;
          text-align: center;

          &:hover {
            .home-responsible-slide {
              transform: translateX(25%);
            }
          }

          &-description {
            color: $white--color;
            font-size: 1.8rem;
            padding: 0 15%;
            text-align: justify;
          }
        }

        &-right {
          flex: 0 0 50%;
          max-width: 50%;
          z-index: 0;
        }
      }
    }


    &-inspiration {
      @include layout-kristi-cabin;
      background: url(../img/h1-img-6.jpg) bottom center / cover no-repeat;
      text-align: center;
    }

    &-personalize {
      @include layout-kristi-cabin;
      text-align: center;
      position: relative;
      z-index: 1;

      &-content {
        margin-bottom: 3rem;
      }

      &-container-item {
        margin: 3px;

        &-img {
          width: 100%;
        }

        &-name {
          font: {
            size: 2rem;
            family: "Playfair Display"
          }
        }

        &-position {
          font-size: 1.6rem;
          color: $cyan-bluish-gray--color;
        }
      }
    }

    &-join-newsletter {
      display: flex;
      justify-content: center;
      transform: translateY(50%);
      background: url(../img/h1-img-7.jpg);
      width: 100%;
      z-index: 1;

      &-text-content {
        margin: 0 3rem;

        &-title {
          font: {
            size: 3rem;
            family: "Playfair Display";
          }
        }

        &-description {
          font: {
            size: 2rem;
          }

          color: #383838;
        }
      }

      &-mail-content {
        flex: 1;
        display: flex;
        align-items: center;

        &-input {
          margin-left: 6rem;
          width: 100%;
          height: 5rem;
          padding: 2rem;
          outline: none;
          border: none;
          font-size: 1.6rem;

          &:hover {
            cursor: pointer;
          }

        }

      }

      &-button-content {
        margin-right: 6rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: #383838;
        border: none;
        color: $white--color;
        height: 5rem;
        padding: 1.5rem 3rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-review {
      display: flex;

      &-content {
        padding-top: 15rem;
        flex: 0 0 50%;
        max-width: 50%;
        background: url(../img/h1-img-9.jpg) center center/ cover no-repeat;

        &-description {
          font-size: 1.8rem;
          padding: 0 10%;
          margin-top: 1rem;
          text-align: center;
          line-height: 2.4rem;
          color: $light-green-cyan--color;
        }

        &-comment {
          position: relative;
        }

        &-navigation {
          position: absolute;
          top: 0%;
          right: 1rem;
          display: flex;

          .disable {
            display: none;
          }
        }

        &-comment-slide {
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;

          .comment {
            &-slide {
              &-item {
                margin-top: 2rem;
                transition: all .3s;

                &:hover {
                  transform: translateY(-5px);
                }
              }

              &-head {
                display: flex;
                align-items: center;
                margin: 1rem 0 2rem 5%;

                &-img {
                  width: 5rem;
                  height: 5rem;
                  object-fit: cover;
                  border-radius: 50%;
                  user-select: none;
                }

              }

              &-info {
                display: flex;
                flex-direction: column;
                margin: 0 0 0 2rem;

                &-name {
                  font: {
                    size: 1.8rem;
                  }

                  color: #565656;
                  margin: 0;
                }

                &-date {
                  margin: .5rem 0 0 0;
                  font-size: 1.2rem;
                  color: $cyan-bluish-gray--color;
                }
              }

              &-body {
                width: 100%;
                background-color: $white--color;
                padding: 1.5rem 2rem;
                border-radius: 1.4rem;
                position: relative;
                box-shadow: 0 0 1rem #ccc;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 3.2rem;
                  border-width: 2rem 2rem;
                  transform: translateY(-100%);
                  border-style: solid;
                  border-color: transparent transparent $white--color transparent;
                }

                &-head {
                  align-items: center;
                  display: flex;
                  justify-content: space-between;
                }

                &-check {
                  display: flex;
                  align-items: center;

                  &-rate {
                    i {
                      font-size: 1.4rem;
                      color: $vivid-green-cyan--color;
                      transform: scale(1.2);
                      margin: 0 .4rem;
                    }

                  }

                  &-verify {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;

                    p {
                      transform: translateX(2rem);
                      font-size: 1.4rem;
                      text-transform: capitalize;
                      opacity: 0;
                      transition: all .3s;
                      background-color: #4b5563;
                      color: $white--color;
                      padding: .5rem 1rem;
                      border-radius: 1rem;
                      position: relative;
                      margin: 0 0 0 1rem;

                      &::before {
                        content: "";
                        border-radius: .8rem;
                        position: absolute;
                        top: 49%;
                        left: -1.5rem;
                        border-width: 1.2rem 1rem;
                        transform: translateY(-49%);
                        border-style: solid;
                        border-color: transparent #4b5563 transparent transparent;
                      }
                    }

                    &:hover {
                      p {
                        transform: translateX(0);
                        opacity: 1;
                      }
                    }
                  }
                }

                &-content {
                  margin-top: 1rem;
                  height: 9rem;
                  overflow: auto;

                  &::-webkit-scrollbar {
                    width: 5px;
                  }

                  &::-webkit-scrollbar-track {
                    background-color: $light-green-cyan--color;
                    border-radius: 1rem;
                    overflow: hidden;
                  }

                  &::-webkit-scrollbar-thumb {
                    background-color: $vivid-green-cyan--color;
                    border-radius: 1rem;
                  }

                  &-title {
                    font-size: 1.5rem;
                  }

                  &-paragraph {
                    font-size: 1.4rem;
                    margin-top: 8px;
                  }
                }

              }

              &-bottom {
                margin: 4rem 0;
                text-align: center;

                &-nav {
                  max-width: 10rem;
                  display: flex;
                  margin: 0 auto;

                  &-index {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: #ccc;
                    margin: 0 4px;
                  }

                  .active {
                    background-color: $vivid-green-cyan--color;
                  }
                }

                p {
                  font-size: 1.6rem;
                  padding: 0 30%;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      &-img {
        background: url(../img/Footer.jpg) top center/ cover no-repeat;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  .home-select {
    &-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;

      &-text {
        display: flex;
        align-items: center;
        @extend %input;
      }

      &-arrow {
        transform: translateY(-20%);
      }

      &-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        background-color: $white--color;
        padding: 1rem;
        transform: translateX(-2rem);
        max-height: 20rem;
        height: 0;
        visibility: hidden;
        overflow-y: auto;
      }

      &-item {
        font-size: 1.5rem;
        padding: 1rem 0;

        &:hover {
          cursor: pointer;
          color: $vivid-amber--color;
        }
      }
    }
  }

  .selector-month {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.home {
  &-video-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba($color: #000, $alpha: .6);
    visibility: hidden;
    transition: all .5s;
    opacity: 0;

    &-body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: all .5s;
      opacity: 0;

      iframe {
        margin: auto;
      }
    }
  }
}

#home-video-overlay:target {
  visibility: visible;
  opacity: 1;

  .home-video-overlay-body {
    opacity: 1;

  }
}