.travel-experiences {
  margin-top: $header-primary--height;

  &-head {
    padding-bottom: 6rem;

    @include responsible(mobile) {
      padding: 0 16px;
    }

    .p-paragraph--cabin {
      color: $gray--color;
    }
  }

  // .layout-full {
  //   .content {
  //     &-left {
  //       .p-paragraph--cabin {
  //         color: $gray--color;
  //       }
  //     }
  //   }
  // }

}